name: _reusable-deploy-lambda

on:
  workflow_call:
    inputs:
      project_root:
        required: false
        type: string
        default: './'
      aws_region:
        required: false
        type: string
        default: 'us-east-1'
      lambda_function_name:
        required: false
        type: string
        default: 'fiap-auth-lambda'
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

jobs:
  deploy-lambda:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.project_root }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download lambda package artifact
        uses: actions/download-artifact@v3
        with:
          name: lambda-package
          path: ./artifacts

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          aws-region: ${{ inputs.aws_region }}

      - name: Install AWS CLI
        run: |
          python -m pip install --upgrade pip
          pip install awscli

      - name: Update Lambda function code
        env:
          LAMBDA_FUNCTION_NAME: "${{ inputs.lambda_function_name }}"
        run: |
          if [ -z "${LAMBDA_FUNCTION_NAME}" ]; then
            echo "Missing LAMBDA_FUNCTION_NAME" && exit 1
          fi
          ARTIFACT=$(ls ./artifacts | head -n1)
          echo "Using artifact: $ARTIFACT"
          aws lambda update-function-code --function-name "${LAMBDA_FUNCTION_NAME}" --zip-file fileb://./artifacts/${ARTIFACT}
