name: _reusable-deploy-terraform

on:
  workflow_call:
    inputs:
      infra_dir:
        required: false
        type: string
        default: './infra/'
      aws_region:
        required: false
        type: string
        default: 'us-east-1'
      lambda_s3_bucket:
        required: false
        type: string
        default: ''
      lambda_s3_key:
        required: false
        type: string
        default: ''
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      DD_API_KEY:
        required: true

jobs:
  deploy-terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.infra_dir }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          aws-region: ${{ inputs.aws_region }}

      - name: Set up Terraform CLI
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_wrapper: false

      - name: Terraform Init
        id: init
        run: |
          terraform init

      - name: Terraform Apply
        id: apply
        env:
          TF_VAR_lambda_s3_bucket: ${{ inputs.lambda_s3_bucket }}
          TF_VAR_lambda_s3_key: ${{ inputs.lambda_s3_key }}
          TF_VAR_datadog_api_key: ${{ secrets.DD_API_KEY }}
        run: |
          terraform apply -auto-approve -input=false
