name: CD - Deploy Lambda

on:
  push:
    branches: [main, develop]

env:
  ENV: ${{ github.ref == 'refs/heads/develop' && 'dev' || 'prod' }}

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  upload-package:
    uses: ./.github/workflows/_reusable-upload-package.yml
    with:
      project_root: "./"
      package_script: "./scripts/package_lambda.sh"
      artifact_path: "app/lambda.zip"
      s3_bucket: "projeto-oficina-terraform"
      s3_key: "lambda/${{ env.ENV }}/lambda-${{ github.sha }}.zip"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-terraform:
    uses: ./.github/workflows/_reusable-deploy-terraform.yml
    needs: [upload-package]
    with:
      infra_dir: "./infra/"
      aws_region: "us-east-2"
      lambda_s3_bucket: ${{ needs.upload-package.outputs.s3_bucket }}
      lambda_s3_key: ${{ needs.upload-package.outputs.s3_key }}
      tfvars_file: "environments/${{ env.ENV }}.tfvars"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}