name: CI - Python Lambda

on:
  push:
    branches: [develop, feature/**, hotfix/**]
  pull_request:
    branches: [develop]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  build-python:
    uses: ./.github/workflows/_reusable-build-python.yml
    with:
      python_version: "3.12"
      project_dir: "./app/"
      requirements_file: "requirements.txt"

  sonarqube:
    uses: ./.github/workflows/_reusable-sonar.yml
    needs: [build-python]
    with:
      python_version: "3.12"
      sonar_org: "fiap-soat-grupo36"
      sonar_project_key: "fiap-soat-grupo36_lambda-authentication"
      sonar_host: "https://sonarcloud.io"
      project_dir: "app/"
      requirements_file: "requirements.txt"
      scanner_version: "4.0.0.4121"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  upload-package:
    uses: ./.github/workflows/_reusable-upload-package.yml
    needs: [build-python]
    with:
      project_root: './'
      package_script: './scripts/package_lambda.sh'
      artifact_path: 'app/lambda.zip'
      s3_bucket: "projeto-oficina-terraform"
      s3_key: "lambda/dev/lambda-${{ github.sha }}.zip"
      aws_region: "us-east-2"
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  ci-terraform:
    uses: ./.github/workflows/_reusable-terraform.yml
    needs: [upload-package]
    with:
      infra_dir: "./infra/"
      aws_region: "us-east-2"
      lambda_s3_bucket: ${{ needs.upload-package.outputs.s3_bucket }}
      lambda_s3_key: ${{ needs.upload-package.outputs.s3_key }}
      tfvars_file: "environments/dev.tfvars"
      workspace: dev
      environment: dev
      auto_apply: false
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

  create_pr:
    uses: ./.github/workflows/_reusable-create-pr.yml
    needs: [ci-terraform]
    if: github.event_name == 'push' && (startsWith(github.ref, 'refs/heads/feature/' ) || startsWith(github.ref, 'refs/heads/hotfix/'))
    with:
      base_branch: "develop"
      title: ""
      body: ""

  create_pr_develop_main:
    uses: ./.github/workflows/_reusable-create-pr.yml
    needs: [ci-terraform, sonarqube]
    if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
    with:
      base_branch: "main"
      title: ""
      body: ""
